<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>UESTC_MlHomeWork</title>
</head>
<body>
  <div id="menu" style="height:200px;width:200px;float:left;">
  输入图像：<br>
    <img src={{ filepath }} style="float:left" width="150" height="150"  />
  </div>

  <div id="content" style="height:200px;width:400px;float:left;">
  输出结果：{{ max_prob_index }}<br>
  输出置信度：{{ max_prob }}
  </div>
  <div style="float: right">
      <img src="/static/UESTCLOGO.jpg" height="150" width="150" class="rounded float-right" alt="...">
      <img src="/static/HuaWeiLOGO.jpg" height="150" width="150" class="rounded float-right" alt="...">

  </div>


</body>
</html>

